!!!
%html{locale: current_locale}
  %head
    - title = @title ? @title : "Aotearoa Youth Declaration – Online Focus Group"
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "0; url=http://youthdeclaration.unyouth.org.nz/statement-ranking/", "http-equiv" => "refresh"}/
    %title= title
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "application"
    = theme_stylesheet_link_tag
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "pages #{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'

    / Insert AYD global header, font and adjust Loomio nav
    :css
      #affix-loomio.affix {
          position: fixed;
          top: 0;
          width: 100%
    :css
       @import url(http://cloud.typography.com/6970112/674766/css/fonts.css);
      
      body {
       font-family: "Gotham Narrow", Helvetica, sans-serif    !important;
      line-height: 22px !important;
      }
      
      h1, h2, h3, h4, h5, h6 {
      font-family: "Gotham Narrow", Helvetica, sans-serif    !important;
      font-weight: 700;
      line-height: 28px !important;
      }
    :javascript
      $('#affix-loomio').affix({
      });
    %nav.navbar.navbar-default{:style => "background-color: #548bc9; height: 81px; top:0; margin:0 0 -30px 0; width:100%; z-index: 1030; border: none; border-radius: 0px; "}
      %a.navbar-brand{:href => "http://go.youthdeclaration.unyouth.org.nz/g/JAFd4g5Z/civic-engagement", :style => "padding: 0;"}
        %img{:alt => "Aotearoa Youth Declaration", :src => "http://youthdeclaration.unyouth.org.nz/wp-content/uploads/2015/03/OFG-masterlogo2.png", :style => "display: inline-block; max-width: 300px; margin-left: 50px;"}


    .container.home-flash
      = render 'flash_messages', :flash => flash

    .row.hero
      .content-container
        .content
          = yield

    .row
      .container
        .col-xs-12
          = render 'footer'

  = javascript_include_tag "application"
  = theme_javascript_include_tag
  = render 'heap_analytics'
